html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  background-color: #020202;
  color: #ccd6dd;
}

/* typography and icons */

.logo {
  width: 26px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

i {
  font-size: 15px;
  cursor: pointer;
}

.fa-solid {
  color: #999;
}

.liked {
  color: red;
}

.retweeted {
  color: limegreen;
}

/* layout */

main,
header {
  width: 290px;
  margin: 0 auto;
}

header {
  padding-bottom: 10px;
}

.tweet-input-area {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

/* textareas + btn */

textarea {
  border: none;
  resize: none;
  padding: 4px 10px;
  height: 60px;
  width: 100%;
  font-size: 16px;
  line-height: 30px;
  font-family: 'Roboto';
  background-color: black;
  caret-color: #ccd6dd;
  color: #ccd6dd;
  outline: none;
}

textarea::placeholder {
  font-size: 18px;
}

button {
  background-color: #1da1f2;
  border: none;
  color: #f6f6f6;
  padding: 10px 19px;
  border-radius: 20px;
  width: 100%;
  cursor: pointer;
  opacity: 1;
  font-size: 14px;
  font-weight: 600;
  transition: ease 0.2s;
}

button:hover {
  background-color: #138fdc;
}

/* tweet */

.tweet {
  border-top: 1px solid #4b565e;
  padding: 20px 0 0 0;
  width: 100%;
  margin: 15px 0;
}

.tweet-inner {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.tweet-details {
  display: flex;
  font-size: 13px;
  justify-content: space-between;
  width: 160px;
}

.tweet-detail {
  display: flex;
  cursor: pointer;
  gap: 4px;
}

.tweet-reply {
  border-top: 1px solid lightgray;
  padding: 20px 0 0 0px;
  margin: 10px 0 10px 40px;
  width: 80%;
}

.handle {
  font-size: 13px;
  font-weight: 500;
  color: #f6f6f6;
  cursor: pointer;
  margin: 0;
}

.tweet-text {
  width: 234px;
  font-size: 13px;
  line-height: 20px;
  margin-top: 2px;
  font-weight: 400;
}

/* images */

.profile-pic {
  border-radius: 50%;
  width: 36px;
  cursor: pointer;
}

/* utility */
.hidden {
  display: none;
}
